
<div id="fullpage" fullpage>
    <div id="section0" class="section">
        <div class="row">
            <div class="col-md-12 col-lg-12 imgSlide">
                <div class="img-slider"><img src="content/Images/header_img2.png" class="img-responsive" /></div>
                <div class="col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1 col-lg-10 col-lg-offset-2 txt-header">
                    <div class="floatLeft">Try Catch Shop Example</div>
               
                </div>
            </div>
            <div class="col-md-12 col-lg-12 separatorContent">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 separatorContent">
                </div>
            </div>
            <div class="contentSection">
                <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <h2>Try Catch Shop Example </h2>
                    <h3>
                        This is a simple app to simulate basic funcionality of an e-commerce. in the Admin section (you need to be logged in as Admin) you can add
                        Products with picture. in shop area you can buy them. To log in click on the Log in button and on register if you don't have an account
                    </h3>


                    <div class="searchFiliali mobileHide">
                        <div class="bgImage"><img src="content/Images/woman.png" alt="Woman Try Catch Shop Example" title="Woman Try Catch Shop Example" /></div>

                        <div class="img-rounded boxBlue">
                            <h3>In this example I've use the Asp.Net MVC5 WebaPI 2 version with Asp.Net.Identity.Owin and token oauth authentication.</h3>
                            <span class="smallScreenHide">
                                Hosted on <br />
                                Microsft Azure on cloud!
                            </span>
                            <!--<input type="button" id="filialeBtn" value="Cerca la filiale più vicina a te" class="btn btn-default btnBlue" />-->
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="row">
                        <div>
                            <div class="col-md-12 boxForm img-rounded">
                                <h1 style="text-align: center">PRODUCT PRESENT IN STORE:</h1>
                                <div class="item col-md-4" data-ng-repeat="item in products">
                                    <a href="/product/{{item.id}}">
                                        <span data-ng-repeat="itemImage in item.ProductImage">
                                            <img src="/content/images/{{ itemImage.image }}" width="70"  />
                                        </span>
                                        <span><b>{{ item.name }}</b></span>
                                        <span>{{ item.price }}$</span>
                                        <span><i>avaiable in stock: </i>{{ item.avaiable }}</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section1" class="section">
        <div class="sectionContent"></div>

        <div class="row contentSection">


            <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                <img src="./content/images/icons_loan_1.png" />
                <h2>Example</h2>
                <h3>Lorem Ispum!</h3>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                <br /><br />

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed:<br />
                · sed quia consequuntur magni dolores eos qui ratione voluptatem;<br />
                · consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore ;<br />
                · minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur,
                iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae;<br /><br />

            </div>

            <div class="col-md-5 col-lg-4">
                <img src="./content/images/icons_loan_2.png" />
                <h2>Consolidamento</h2>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut<br />
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
                </h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut<br />
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br />
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br /><br />


                <div class="mobileHide">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="../../content/images/bell.png" width="30px" />
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">
                                NUMERO VERDE:<br />
                                800 910 914<br />
                                <span class="numeroVerdeinfo">
                                    Try the Catch!<br />
                                    8000 90 90
                                </span>
                            </h2>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>

    <div id="section2" class="section positionRelative">


        <div class="row contentSection">

            <div class="top20 NumeroVerdeMobile webHide">
                <h2>Numero Verde</h2>
                <h3>800 910 940</h3>
                <p>
                    Attivo dal lunedì al venerdì <br />
                    dalle 9.00 alle 19.00<br /><br />
                </p>
            </div>




            <div class="col-md-4 col-md-offset-2 MobileHeight">

                <h2>KISS & DRY!</h2>
                <h3>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                </h3>


                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="./content/images/pin_orange.png" alt="Sede Principale" height="50px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading media-sede">
                            <b>SEDE LEGALE E AMMINISTRATIVA</b>
                        </h4>
                        Federico Scamuzzi<br />
                        10100 TURIN<br />
                        Tel. 045 8214601<br /><br />


                        Cod. Fiscale e P.Iva 01870920996<br />
                        ISVAP E000342353<br />
                        Uic A81392  <br />
                    </div>

                </div>

                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="./content/Images/pin_blue.png" alt="Sedi secondarie" height="50px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading media-sede"><b>ALTRE SEDI:</b></h4>
                        <ul class="ul-filiali">
                            <div class="floatLeft" ng-repeat="item in filialiList">
                                <li ng-class='{in:$first}'>
                                    <button class="btnFiliale" type="button" ng-click="openFiliale(item.filialeId)">{{item.titolo}}</button>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>

                <span data-ng-if="authentication.isAuth">
                    <button class="btn btnOrange marginLeft50 marginTB" type="button" ng-click="openFiliale(-1)">Aggiungi una filiale</button>
                </span>
            </div>

            <div class="col-md-4 mobileHide">
                <img src="./content/images/map_italy.png" class="img-responsive mapItaly" />
            </div>

        </div>

        <div class="row">


            

        </div>


    </div> <!-- end section -->

</div>
